*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
html, body{
  font-family: "Play-Regular";
  font-weight: 200;
}

header {
  color: rgb(255, 255, 255);
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 21%, rgba(32,62,74,1) 81%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 95px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}

.logo-principal img {
  height: 95px;
  padding-left: 16px;
}
/*---  BARRA DE BUSQUEDA Y BARRA DE NAVEGACIÓN ---*/
.header-central{
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header-central input {
  display: flex;
  justify-content: center;
  margin: 16px;
  margin-right: 0;
  padding: 8px;
}

.search {
  display: flex;
  align-items: center;
  width: 300px;
  margin: 10px 0 10px 0;
}

.search input {
  width: 100%;
  border: 2px solid rgb(255, 255, 255);
  border-right: none;
  padding: 15px;
  margin: 0;
  height: 20px;
  border-radius: 50px 0 0 50px;
  outline: none;
}

.search button {
  width: 30px;
  height: 34px;
  margin: 0;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(32, 62, 74);
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  font-size: 10px;
  transition: 0.3s;
}

.search button:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(32, 62, 74);
}

.header-nav{
  width: 600px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.header-nav nav ul{
  margin-bottom: 8px;
}

.header-nav nav ul li{
  display: inline;
}

.header-nav nav ul li a{
  margin: 0 15px 0 15px;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

.header-nav nav ul li a:hover{
  cursor: pointer;
  background-color: rgb(255, 136, 0);
  color: rgb(0, 0, 0);
  border-radius: 50px;
}
/*--- BOTÓN DE REGISTRO Y REDES SOCIALES ---*/
.header-right {
  width: 320px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.signin {
  display: flex;
  width: 185px;
}

.signin a{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px rgb(255, 255, 255);
  border-radius: 50px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  width: 180px;
  height: 35px;
  transition: 0.3s;
}

.signin a:hover{
  background-color: rgb(255, 136, 0);
  border: solid 2px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.menu-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-social a{
  color: rgb(255, 255, 255);
  font-size: 30px;
  padding-left: 10px;
  transition: 0.3s;
}

#facebook:hover{
  color: rgb(108, 98, 248);
}
#instagram:hover{
  color: rgb(255, 75, 75);
}
/*--- FIRST BANNER - TEXTO DESCRIPTIVO Y BOTÓN  ---*/
.first-banner-home{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.first-banner{
  width: 100%;
  
}

.first-banner img{
  width: 100%;
  display: flex;
  z-index: 0;
}

.first-banner-description{
  height: 120px;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgba(31,31,31,.85);
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
}

.banner-description{
  padding: 10px 0 0 10px; 
}

.btn-buynow {
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-buynow button{
  margin: 0;
  width: 160px;
  height: 50px;
  border-radius: 50px;
  border: solid 1px rgb(255, 136, 0);
  background: rgb(255, 136, 0);
  font-family: "Play";
  font-size: 20px;
  cursor: pointer;
  font-family: "Play-Bold";
  outline: none;
  transition: 0.3s;
}

.btn-buynow button:hover{
  background: none;
  border: solid 2px rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.arrow-down{
  margin-top: 10px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  animation: bounce 2s infinite;
}
/*--- PRESALES GAMES = TITULO MÁS 5 CARDS---*/
.section-title{
  text-align: center;
}

.section-title h2{
  font-size: 30px;
}

.presales-games{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 460px;

}

.card-presales{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 220px;
  height: 450px;
  border-radius: 50px;
}

.img-presales{
  overflow: hidden;
}
.img-presales img{
  width: 270px;
  height: 270px;
  cursor: pointer;
  transform: scale(1);
  transition: 0.5s;
}
.img-presales img:hover{
  transform: scale(1.2);
}

.info-card span, button{
  margin-top: 8px;
}

.info-card button{
  width: 140px;
  height: 32px;
  border-radius: 50px;
  font-family: "Play";
  font-size: 15px;
  color: rgb(255, 255, 255);
  background: rgb(255, 7, 7);
  border: solid 2px rgb(255, 7, 7);
  outline: none;
  cursor: pointer;
  font-family: "Play-Regular";
  font-weight: 100;
  transition: 0.3s;
}

.info-card button:hover{
  background: none;
  border: solid 2px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}
/*-- BANNER CYBERPUNK 2077--*/
.second-banner-home img{
  width: 100%;
  padding: 30px 0 30px 0;
}
/*--- BEST SELLERS GAMES ---*/
.box-bestsellers{
  padding: 0 30px 0 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-bestsellers img{
  width: 37rem;
  height: 24rem;
  padding-left: 80px;
}

.bestsellers-games{
  display: flex;
  align-items: center;
  height: 30rem;
}

.card-bestsellers{
  text-align: center;
  width: 17rem;
  height: 27rem;
}

.img-bestsellers{
  overflow: hidden;
}

.img-bestsellers img{
  width: 17rem;
  height: 17rem;
  cursor: pointer;
  transform: scale(1);
  transition: 0.5s;
}
.card-bestsellers img:hover{
  transform: scale(1.2);
}

.info-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-card span, button{
  margin-top: 0.5rem;
}

.info-card button{
  width: 9rem;
  height: 2rem;
}
/*--------- BANNER ACCESORIOS ---*/
.consoles-accesories{
  display: flex;
  justify-content: space-around;
  margin: 50px 90px 50PX 90px;
}
/*-------------------- FOOTER ---*/
footer {
  color: rgb(255, 255, 255);
  background-color:  rgb(17, 17, 17);
  padding-top: 50px;
}

.footer-section{
  display: flex;
  justify-content: space-around;
  margin-left: 5rem;
}

.footer-subsection {
  width: 15rem;
  height: 15rem;
}

.creditcards{
  padding-left: 12px;
  width: 140px;
  height: 160px;
  font-size: 40px;
  display: grid;
  column-gap: 2px;
  row-gap: 2px;
  grid-template-areas: 
  "fab fab"
  "fab fab"
  "fab fab"
  "fab fab";
}

.cbook{
  width: 50px;
  height: 50px;
  font-size: 80px;
  padding-left: 25px;
}

.footer-title h4{
  padding-bottom: 20px;
}

.footer-info ul{
  padding-left: 1rem;
}

footer span{
  margin-top: 40px;
  padding: 10px;
  display: block;
  text-align: center;
  border-top: solid 1px rgb(255, 255, 255);
}
/*------------------- NEWS PAGE ------------------*/
.news-title{
  text-rendering: geometricPrecision;
  text-align: center;
  padding: 30px;
  font-size: 30px;
}

#news-container{
  justify-content: center;
  padding: 50px 0 50px 0;
  display: grid;
  grid-template-areas: 
  "news-card-1 news-card-2"
  "news-card-3 news-card-4"
  "news-card-5 news-card-6"
  "news-card-7 news-card-8";
  column-gap: 50px;
  row-gap: 50px;
}

.news-card{
  border: solid 1px rgb(255, 255, 255);
  width: 600px;
  height: 400px;
  display: grid;
  grid-template-areas: 
  "img"
  "new-card-container";

}

.news-card img{
  height: 240px;
  border-radius: 50px 0;
}

.news-card-container{
  height: 160;
  display: grid;
  row-gap: 10px;
  grid-template-areas: 
  "span"
  "h3"
  "p";
}

.news-card span{
  height: 15px;
}

.news-card h3{
  font-size: 20px;
  padding-top: 10px;
  height: 35px;
}

.news-card p{
  height: 90px;
}

.news-card-1 img{
  border: solid 1px rgb(0, 0, 0);
}
/*------------------- LOGIN PAGE -----------------*/
.login-principal{
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-image: url("/images/img-login/login-banner.jpg");
  background-size: 100% 100vh;
  padding: 10px 0 0 10px;
  display: flex;
}

.login-container {
  width: 60%;
}

.login-container img{
  border: solid 2px rgb(255, 255, 255);
  width: 350px;
}

.login-sidebar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.login-form{
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  border: rgb(255, 255, 255);
  width: 400px;
  height: 600px;
  padding: 30px 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.login-form h1{
  text-align: center;
}

.login-form h2{
  text-align: center;
  font-size: 18px;
}

.form-inputs{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 200px;
}

.form-inputs input[type="text"], 
.form-inputs input[type="password"]{
  border: none;
  border-bottom: solid 1px black;
  background: transparent;
  height: 40px;
  color: black;
  font-size: 16px;
}

.accept-terms{
  display: flex;
    align-items: center;
    width: 220px;
    justify-content: space-around;
}

.login-form input[type="submit"]{
  width: 200px;
  height: 40px;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  border: solid 2px rgb(41, 41, 41);
  background: rgb(41, 41, 41);
  font-family: "Play";
  font-size: 20px;
  cursor: pointer;
  font-family: "Play-Bold";
  outline: none;
  transition: 0.3s;
}

.login-form input[type="submit"]:hover{
  background: rgb(255, 255, 255);
  color: rgb(41, 41, 41);
}

/*--- BOTONES DE REDES LOGIN ---*/
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 50px;
  font-size: 12px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  text-shadow: 0 -1px 0 #354C8C;
  width: 200px;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}
/* Google */
.loginBtn--google {
  background: #DD4B39;
  width: 200px;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}
/*--- BOTONES REDES SOCIALES ---*/
.login-sidebar .menu-social a{
  color: rgb(122, 122, 122);
}

.footer-login footer span{
  padding: 10px;
  display: block;
  text-align: center;
  border-top: solid 1px rgb(255, 255, 255);
}
